﻿<!DOCTYPE html>
<html ng-app="chandana">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/chandana.module.js"></script>
    <script src="~/Scripts/Common/menucontroller.js"></script>
    <script src="~/Scripts/Products/productcontroller.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div ng-controller="menucontroller" class="navbar navbar-inverse navbar-fixed-top">
        <div ng-init="fetch()">
            <nav id="navbar-example" class="navbar navbar-inverse navbar-static" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Chandana Brothers</a>
                    </div>
                    <div collapse="isCollapsed" class="navbar-collapse bs-js-navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown" ng-repeat="item in message">
                                <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">{{item.NAME}} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <!-- Iterate over and display submenu items -->
                                    <li class="sub" ng-repeat="sublink in item.LSTSUBCATEGORIES">
                                        <a id="drop2" role="button">
                                            {{sublink.NAME}}
                                        </a>
                                        <ul>
                                            <li ng-repeat="data in sublink.LSTSUBCATEGORIES">
                                                <a href="/Home/Products?id={{data.ID}}"> {{data.NAME}}</a>
                                            </li>
                                        </ul>


                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div><!-- /.nav-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
