﻿
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html ng-app="chandana">
<head>
    <title></title>
</head>
<body>
    <div ng-controller="productcontroller">
        <div ng-init="fetch()">
            <div ng-repeat="item in message">
                @*<img ng-src="~/Product/{{item.IMAGENAME}}" height="500" width="300" class="img-responsive" />*@
                {{item.NAME}}
            </div>
        </div>
    </div>
</body>
</html>


